* {padding: 0;margin: 0;border: 0;}
*,
*:before,
*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,
:active {outline: none;}
a:focus,
a:active {outline: none;}
nav,
footer,
header,
aside {display: block;}
html,
body {height: 100%;width: 100%;
     font-size: 100%;
     line-height: 1;
     font-size: 14px;
     -ms-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     height: 100%; font-weight: 400; 
     font-family:'Noto', sans-serif; 
     color: var(--color-black); 
     background: #EBE4DF;
     height: 100dvh;min-width: 
     320px;scroll-behavior: smooth;}
input,
button,
textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a {font-size: inherit;color: inherit;display: inherit;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: inherit;}

@font-face {
  font-family: 'Noto';
  src:  url("../fonts/NotoSans-Regular.woff");
        font-weight: 400;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src:  url("../fonts/NotoSans-Medium.woff");
        font-weight: 500;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src:  url("../fonts/NotoSans-SemiBold.woff");
        font-weight: 600;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src:  url("../fonts/NotoSans-Bold.woff");
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}
@font-face {
  font-family: 'Noto';
  src:  url("../fonts/NotoSans-ExtraBold.woff");
        font-weight: 800;
        font-display: swap;
        font-style: normal;
}
body.lock {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
._container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 25px;
}
.main {
  flex: 1 1 auto;
}
.section__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
._ibg {
  position: relative;
  border-radius: 15px;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 15px;
}
.title {
  font-size: clamp(34px, 4vw, 48px);
  font-weight: 800;
  line-height: 140%;
  color: var(--color-brown);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitle {
  font-size: clamp(28px, 2.7vw, 44px);
  font-weight: 800;
  line-height: 136%;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.button {
  font-size: clamp(22px, 2.1vw, 26px);
  color: var(--color-white);
  background-color: var(--color-orange);
  text-align: center;
  padding: 20px 43px;
  border-radius: 10px;
  display: inline-block;
}
  /*
  1600px / 100px
  1vw = 16px
  100px / 16px = 6.25vw
  */
:root {
  --color-white: #FFFFFF;
  --color-black: #222222;
  --color-orange: #E4641D;
  --color-brown: #3B241A;
  --color-brown-light: #9A7960;
}
/*---------------------------------------header----------------------*/
.header__burger-wrapper {
  display: none;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  margin-top: 50px;
}
.logo {
  z-index: 5;
}
.header__block--mod {
  flex-basis: 270px;
}
.header__working-hours,
.header__working-hours--mod {
  font-weight: 600;
  font-size: 14px;
  line-height: 136%;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #F5F2EF;
  padding: 15px;
  border-radius: 15px;
}
.header__block,
.header__messengers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px 15px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px 30px;
  flex-wrap: wrap;
}
.menu__link {
  font-size: 16px;
  font-weight: 600;
}
.header__services-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  color: var(--color-white);
  background-color: var(--color-brown-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 11px 16px;
  border-radius: 10px;
  position: relative;
  z-index: 5;
}
.header__services-button img {
  transform: rotate(90deg);
  width: 10px;
}
.header__list-wrapper {
  position: absolute;
  top: -100%;
  max-width: 850px;
  background-color: var(--color-brown-light);
  padding: 30px; 
  transition: All 0.5s ease 0s;
  border-radius: 15px;
  opacity: 0;
  visibility: hidden;
  margin-right: 25px;
  overflow: auto;
}
.header__list-wrapper.open-list {
  top: 0;
  margin-top: 90px;
  opacity: 1;
  visibility: visible;
}
.header__services-button.open-arrow img {
  transform: rotate(-90deg);
}
.header__working-hours--mod {
  display: none;
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  color: var(--color-white);
}
.header__list-block-title {
  font-size: clamp(18px, 1.6vw, 20px);
  margin-bottom: 20px;
  font-weight: 700;
}
.header__list-block-link {
  font-size: clamp(16px, 1.5vw, 18px);
  margin-bottom: 20px;
}
.header__messengers--mod {
  display: none;
}
/*---------------------------------------header----------------------*/

/*---------------------------------------homepage----------------------*/
.main-section{
  overflow: hidden;
  padding-top: 225px;
  padding-bottom: 134px;
  margin-bottom: 100px;
  background: linear-gradient(134deg, #eee 0%, #d9c0a0 59.76%, #d9c0a1 100%);
}
.main-section__body {
  display: flex;
  justify-content: space-between;
  gap: 82px 10px;
}
.main-section__info {
  flex-basis: 592px;
}
.main-section__text {
  font-size: clamp(22px, 2vw, 24px);
  margin-bottom: 41px;
}
.main-section__box {
  display: flex;
  align-items: center;
  gap: 10px 15px;
  flex-wrap: wrap;
  margin-bottom: 39px;
}
.main-section__item {
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  padding: 9px 18px;
  border-radius: 10px;
  border: 1px solid var(--color-brown);
}
.main-section__slider {
  min-width: 0;
  flex-basis: 915px;
  margin-right: -350px;
}
.slider__block {
  position: relative;
}
.slider__block-cost {
  position: absolute;
  top: 35px;
  left: 30px;
  z-index: 3;
  color: var(--color-white);
  font-size: clamp(22px, 2vw, 24px);
  font-weight: 600;
}
.slider__block-img {
  position: relative;
}
.slider__block-img img {
  width: 100%;
}
.slider__block-info {
  position: absolute;
  bottom: 27px;
  left: 27px;
  z-index: 3;
  color: var(--color-white);
  font-weight: 600;
  font-size: clamp(14px, 1.3vw, 16px);
}
.slider__block-title {
  font-size: clamp(22px, 2vw, 24px);
  color: var(--color-white);
  margin-bottom: 30px;
}
.slider__block-text {
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 137%;
  margin-bottom: 15px;
  max-width: 488px;
}
.slider__block-button {
   padding: 8px 15px;
   border: 1px solid var(--color-white);
   border-radius: 10px;
   display: inline-block;
}
.main-section__slider .main__swiper {
  position: relative;
  overflow: hidden;
  margin-right: -220px;
  padding-bottom: 40px;
}
.swiper-button-next {
  right: 54%;
  top: 44.8%;
}
.main-section__slider .swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  font-size: 20px;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 14px 18px;
  border-radius: 15px;
}
.main__swiper .swiper-pagination {
  display: flex;
  align-items: center;
  gap: 15px;
  left: 190px;
}
.swiper-pagination-bullet {
  opacity: 1;
  background-color: var(--color-white);
  transition: All 0.5s ease 0s;
  width: 16px;
  height: 16px;
  scale: 0.7;
}
.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  scale: 1.2;
  background-color: var(--color-brown-light);
}
/*---------------------------------------homepage----------------------*/

/*---------------------------------------works----------------------------*/
.works {
  margin-bottom: 100px;
}
.works__slider {
  position: relative;
  overflow: hidden;
  max-width: 592px;
}
.works__body,
.works__body-more.more {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(480px, 1fr));
  gap: 20px;
}
.works__body-more.more {
  margin-top: 20px;
}
.works__block {
  position: relative;
  max-width: 592px;
}
.works__bottom {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  width: 100%;
}
.works__slider .swiper-button-prev,
.works__slider .swiper-button-next {
   top: 50%;
}
.works__slider .swiper-button-prev {
  left: 20px;
}
.works__slider .swiper-button-next,
.design__slider .swiper-button-next {
  right: 20px;
}
.works__slider .swiper-button-prev::after,
.works__slider .swiper-button-next::after,
.design__slider .swiper-button-next::after,
.reviews__body .swiper-button-next::after,
.reviews__body .swiper-button-prev::after {
  font-size: 20px;
  color: var(--color-white);
  border: none;
  padding: 14px 18px;
  border-radius: 15px;
  background: rgba(29, 28, 24, 0.45);
}
.design__slider .swiper-button-next {
  right: 40px;
  top: 50%;
}
.works__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
  background: rgba(30, 30, 30, 0.45);
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--color-white);
}
.works__info-address address{
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 142%;
}
.works__info-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 136%;
}
.works__info-subtitle {
  margin-bottom: 5px;
  font-size: 12px;
}
.works__button {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  border: 1px solid var(--color-white);
  border-radius: 10px;
  padding: 8px 15px;
}
.works__block-img img {
  width: 100%;
}
.works__button-more {
  display: block;
  padding: 8px 15px;
  background-color: inherit;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 60px;
  border-radius: 10px;
  border: 1px solid var(--color-brown-light);
  color: var(--color-brown-light);
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
}
.works__body-more {
  display: none;
}
.works__button-more.close {
  display: none;
}
/*---------------------------------------works----------------------------*/
/*---------------------------------------conditions---------------------------*/
.conditions {
  margin-bottom: 100px;
}
.conditions__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.conditions__info {
  position: relative;
  z-index: 2;
  margin-right: -256px;
  flex-basis: 664px;
}
.conditions__block {
  background-color: #F5F2EF;
  padding: 30px;
  border-radius: 15px;
}
.conditions__block:not(:last-child) {
  margin-bottom: 25px;
}
.conditions__block-title {
  font-size: clamp(22px, 2vw, 24px);
  margin-bottom: 25px;
  font-weight: 600;
  line-height: 142%;
}
.conditions__block-text {
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 144%;
}
.conditions__image {
  flex-basis: 796px;
}
.conditions__image img {
  width: 100%;
}

/*---------------------------------------conditions----------------------------*/
/*---------------------------------------prices----------------------------*/
.prices {
  margin-bottom: 100px;
  background-color: var(--color-brown-light);
  padding: 100px 0px;
}
.prices .subtitle {
  color: var(--color-white);
}
.prices__body {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
}
.prices__block {
  max-width: 592px;
  background-color: #F5F2EF;
  padding: 30px;
  border-radius: 15px;
}
.prices__block .button {
  max-width: 389px;
  margin:  0 auto;
  display: flex;
  justify-content: center;
}
.prices__block-image img {
  width: 100%;
}
.prices__block-image {
  margin-bottom: 30px;
  font-size: clamp(24px, 2.6vw, 32px);
}
.prices__block-title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: clamp(24px, 2.6vw, 32px);
  line-height: 134%;
}
.prices__block-subtitle {
  font-size: clamp(16px, 1.5vw, 18px);
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}
.price__tables {
  margin-bottom: 30px;
}
.prices__table {
  background-color: var(--color-white);
  padding: 10px 15px;
  width: 100%;
  border-radius: 15px;
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 144%;
}
.prices__table:not(:last-child) {
  margin-bottom: 20px;
}
.prices__table-block:not(:last-child) td {
  border-bottom: 1px solid #F5F2EF;
  padding: 10px 0px;
}
.prices__table-block td:last-child {
  width: 100px;
  font-weight: 600;
  line-height: 137%;

}
/*---------------------------------------prices----------------------------*/
/*---------------------------------------design----------------------------*/
.design {
  max-width: 1920px;
  margin: 0 auto;
}
.design__content {
  margin-bottom: 100px;
}
.design__button {
  display: block;
  background-color: inherit;
  padding: 21px;
  border: 1px solid var(--color-brown-light);
  border-radius: 15px;
  width: 262px;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  color: var(--color-brown-light);
}
.design__button:not(:last-child) {
  margin-bottom: 23px;
}
.design__body {
  display: flex;
  align-items: center;
  gap: 10px 44px;
  width: 900px;
}
.design__container {
  min-width: 0;
}
.design__slider {
  position: relative;
  overflow: hidden;
  width: 900px;
}
.design__slider .swiper-wrapper {

}
.design__bottom {
  position: absolute;
  bottom: 30px;
  background: rgba(30, 30, 30, 0.45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 30px;
}

.mixitup-control-active {
  transition: all 0.2s;
  background-color: var(--color-brown-light);
  color: var(--color-white);
}
/*---------------------------------------design----------------------------*/


/*---------------------------------------reviews----------------------------*/
.reviews {
  margin-bottom: 100px;
  padding: 100px 0px;
  background-color: var(--color-brown-light);
}
.reviews__content .subtitle{
  color: var(--color-white);
}
.reviews__body {
  position: relative;
}
.reviews__slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 66px;
}
.reviews__slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.reviews__slider .swiper-slide {
  height: auto;
  transition: all 0.5s ease;
}
.reviews__slider .swiper-pagination-bullet-active {
  background-color: #7B614D;
}
.reviews__body .swiper-button-next,
.reviews__body .swiper-button-prev {
  top: 45%;
}
.reviews__body .swiper-button-next {
  right: -15px;
}
.reviews__body .swiper-button-prev {
  left: -15px;
}
.reviews__card {
  height: 100%;
}
.card {
  max-width: 388px;
  font-size: clamp(14px, 1.3vw, 16px);
  border-radius: 15px;
  background-color: var(--color-white);
  padding: 15px 20px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}
.card__top {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}
.card__top-info-name {
  font-weight: 600;
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 137%;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}
.card__top-info-address {
  font-style: normal;
  margin-bottom: 10px;
  font-size: clamp(14px, 1.3vw, 16px);
}
.card__date {
  margin-bottom: 20px;
  display: block;
  color: #999999;
}
.card__text {
  margin-bottom: 25px;
  line-height: 144%;
}
.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  line-height: 137%;
  color: var(--color-brown-light);
  padding: 9px 15px;
  border-radius: 10px;
  border: 1px solid var(--color-brown-light);
  margin: 0px 17px;
}

/*---------------------------------------reviews----------------------------*/

/*---------------------------------------questions----------------------------*/

.questions {
  margin-bottom: 100px;
}
.questions__body {
  display: flex;
  justify-content: space-between;
  gap: 24px 10px;
}
.questions__form {
  flex-basis: 388px;
}
.form {
  border-radius: 15px;
  background-color: #D9C0A0;
  padding: 20px;
}
.form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 139%;
}
.form__label-input,
.form__label-text {
  padding: 20px 15px;
  border-radius: 15px;
  margin-top: 15px;
  width: 100%;
}
.form__label-input::placeholder,
.form__label-text::placeholder {
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 167%;
}
.form__label-text {
  height: 156px;
  resize: none;
  font-size: clamp(16px, 1.5vw, 18px);
}
.form__label--mod {
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}
.send-form {
  display: block;
  font-weight: 600;
  font-size: clamp(22px, 2vw, 24px);
  line-height: 142%;
  background-color: var(--color-orange);
  padding: 20px;
  border-radius: 10px;
  color: var(--color-white);
  width: 100%;
}
.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: inherit;
  border: 2px solid var(--color-orange);
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.custom-checkbox::before {
  position: absolute;
  left: 60%;
  top: 61%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../images/icons/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.questions__answers {
  flex-basis: 796px;
}
.accordion {
  background-color: #D9C0A0;
  border-radius: 10px;
}
.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: clamp(18px, 1.6vw, 20px);
  line-height: 135%;
  cursor: pointer;
  color: var(--color-black);
  padding: 17px;
}
.accordion__title span {
  position: relative;
  width: 46px;
  height: 46px;
  background-color: transparent;
  transform: rotate(0);
  border: 1px solid var(--color-brown-light);
  border-radius: 15px;
  text-align: center;
  flex: 0 0 auto;
}
.accordion__title span::after,
.accordion__title span::before {
   position: absolute;
   content: '';
   width: 10px;
   height: 2px;
   top: 50%;
   left: 47%;
   background-color: var(--color-brown-light);
   transition: transform 0.5s ease-out;
   border-radius: 3px;
}
.accordion__title span::before {
  transform: rotate(-45deg);
}
.accordion__title span::after {
  transform: rotate(45deg);
  left: 33%;
}
.accordion__title.active span::before{
  transform: rotate(45deg);
}
.accordion__title.active span::after{
  transform: rotate(-45deg);
}
.accordion__content {
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 144%;
  overflow: hidden;
  padding: 0px 20px;
  color: #666666;
  box-sizing: content-box;
  border-top: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  margin-bottom: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}
.accordion__content.active {
  visibility: visible;
  opacity: 1;
  padding: 0px 20px 20px 20px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
.accordion__content-text {
  max-width: 600px;
}
/*---------------------------------------questions----------------------------*/





/*---------------------------------------footer----------------------------*/

.footer {
  background-color: var(--color-brown);
  color: var(--color-white);
  padding: 70px 0px 80px 0px;
}
.footer__body {
  align-items: center;
}
.footer__body,
.footer__messengers,
.footer__bottom,
.footer__blocks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.footer__blocks {
  margin-bottom: 40px;
}
.footer__nav,
.footer__bottom {
  border-radius: 15px;
  border: 1px solid var(--color-white);
  padding: 25px;
}
.footer__title {
  font-weight: 600;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 139%;
  margin-bottom: 25px;
}
.footer__nav--mod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px 80px;
}
.footer__blocks {
  gap: 10px 80px;
}
.footer__item {
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 144%;
}
.footer__item:not(:last-child) {
  margin-bottom: 20px;
}
.footer__contacts {
  text-align: center;
}
.footer__contacts .footer__title{
  margin-bottom: 5px;
}
.footer__contacts-text {
  font-weight: 600;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 139%;
  margin-bottom: 5px;
}
.footer__contacts .slider__block-button{
  display: block;
  margin-bottom: 15px;
}
.footer__contacts-phone {
  font-weight: 600;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 139%;
  display: block;
  padding: 10px 0px 15px 0px;
}
.footer__bottom {
  align-items: center;
  margin-bottom: 30px;
  padding: 25px;

}
.footer__logo {
  display: flex;
  gap: 10px 60px;
  font-weight: 500;
  line-height: 143%;
  color: #B3B3B3;
}
.logo {
  position: relative;
}
.logo::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 30px;
  top: 5px;
  right: -30px;
  background-color: #B3B3B3;
}
.footer__text {
  text-align: end;
  opacity: 0.75;
}
/*---------------------------------------footer----------------------------*/

/*----------------------------------------------projects----------------------------*/

.projects {
  margin-top: 150px;
  margin-bottom: 100px;
}
.breadcrumbs__list {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 144%;
}
.breadcrumbs__link {
  color: #666666;
  position: relative;
}
.breadcrumbs__link::after {
  position: absolute;
  content: '/';
  top: 0;
  right: -10px;
}
.projects__block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}
.projects__block-image img {
  width: 100%;
}
.projects__block-image {
  position: relative;
}
.projects__block-image-logo {
  width: 130px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.projects__block-info {
  flex-basis: 592px;
}
.projects__block-info-address {
  margin-bottom: 25px;
}
.projects__block-info-address address{
  font-style: normal;
  font-weight: 600;
  font-size: clamp(22px, 2vw, 24px);
  line-height: 142%;
  position: relative;
  margin-left: 30px;
}
.projects__block-info-address address::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 10px;
  left: -25px;
  border-radius: 50%;
  background-color: var(--color-brown-light);
}
.projects__block-info-text {
  margin-bottom: 20px;
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 144%;
}
.projects__main .design__slider {
  width: 1200px;
}
.projects__main .design__slider .swiper-button-prev {
  display: none;
}
/*----------------------------------------------projects----------------------------*/

/*----------------------------------------------estimates----------------------------*/
.estimates {
  background-color: var(--color-brown-light);
  padding: 100px 0px;
}
.estimates__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 15px;
}
.estimates__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}
.estimates__box {
 display: grid;
 grid-template-rows: 1fr;

}
.estimates__feedback .card {
  max-width: 100%;
  padding: 30px 30px 10px 30px;
}
.card__top-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.estimates__title {
  font-weight: 600;
  font-size: clamp(24px, 2.6vw, 32px);
  line-height: 134%;
  color: var(--color-white);
  margin-bottom: 25px;
}
.estimates__box--mod {
 display: grid;
 grid-template-rows: 80px 1fr;
}
.estimates__title--mod {
  color: #7B614D;
}
.estimates__table {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 15px;
  width: 100%;
}
.table__title {
  font-weight: 600;
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 137%;
}
.table__title th:first-child{
  text-align: start;
}
.table__title:not(:last-child) th {
  padding-bottom: 15px;
}
.table__title:last-child th {
  padding-top: 15px;
}
.table__title th:last-child {
  text-align: end;
  width: 100px;
}
.table__info td {
  padding-bottom: 15px;
  border-bottom: 1px solid #F5F2EF;
  padding-top: 15px;
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 144%;
  word-spacing: no-wrap;
}
.table__info td:last-child {
  font-weight: 600;
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 137%;
  text-align: end;
}
.estimates__block-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 40px;
}
.estimates__part {
  text-align: center;
}
.estimates__part-icon {
  margin-bottom: 10px;
}
.estimates__text {
  font-size: clamp(14px, 1.3vw, 16px);
  line-height: 144%;
  margin-bottom: 5px;
  color: #999999;
}
.estimates__part-numbers {
  font-weight: 600;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 139%;
}
.estimates__block .estimates__box{
  text-align: center;
}
.estimates__box .button {
  margin: 0 auto;
  width: 389px;
}
.estimates__text--mod {
  margin-top: 20px;
}
/*----------------------------------------------estimates----------------------------*/


/*----------------------------------------------policy----------------------------*/

html,.body {
  background-color: #E1D7CF;
}
.footer--mod {
  background-color: #E1D7CF;
  text-align: center;
  padding: 74px 0px 50px 0px;
}
.policy {
  margin-top: 152px;
}
.title--mod {
  font-weight: 600;
  font-size: clamp(24px, 2.6vw, 32px);
  line-height: 134%;
  text-transform: none;
}

.policy__block {
  margin-bottom: 40px;
}
.policy__block-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: clamp(22px, 2vw, 24px);
  line-height: 142%;
}
.policy__block-text {
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 167%;
}

/*----------------------------------------------policy----------------------------*/



/*-------------------------------------------popup
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup__body{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content{
  max-width: 554px;
  background-color: #FFFFFF;
  padding: 70px 66px 35px;
  position: relative;
}
.popup__title{
  color: #000000;
  font-size: 25px;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
form{
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
}
.form input{
  font-weight: 400;
  font-size: 17px;
  line-height: 123%;
  color: #484848;
  border: 0.4px solid #000000;
  border-radius: 10px;
  padding: 17px 30px;
  margin-bottom: 30px;
  width: 100%;
}
.form button {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 10px;
}
.popup.open{
  opacity: 1;
  visibility: visible;
}
.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: red;
  transform: rotate(45deg);
}
----------------------*/

/*------------------------------------------dropdown
.dropdown {
  position: relative;
}
.dropdown__button {
  position: relative;
  display: block;
  text-align: left;
  background: #F1F1F1;
  border-radius: 5px;
  line-height: 20px;
  font-size: 16px;
  padding: 15px 27px 15px 19px;
}

.dropdown__button::after {
  content: '';
  position: absolute;
  top: 52%;
  right: 8px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-width: 6px 6px 0 6px;
  border-color: #393939 transparent transparent transparent;
  border-style:  solid;
  pointer-events: none;
}
.dropdown__list {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 240px;
  left: 0;
  top: 42px;
  z-index: 1;
  background: #F1F1F1;
  padding: 17px 19px 25px 19px;
}
.dropdown__list--active {
  display: block;
}
.dropdown__list-item {
  border-bottom: 0;
  cursor: pointer;
  margin-bottom: 15px;
}
.dropdown__list-item:hover {
  color: #00aa4b;
}
.dropdown input {
  display: none;
}
.dropdown__list-item--mod {
  margin-bottom: 35px;
  color: #777777;
}
.dropdown__list-item--mod:hover {
  cursor: default;
  color: #777777;
}
.dropdown__button--active {
  width: 100%;
}
----------------------*/

/*------------------------------------------Checkbox
.checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #1280E5;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.custom-checkbox::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
----------------------*/

/*-----------------------------------------radio-button
.real-radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}
.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #7e9bbd;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
}
.custom-radio::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1280E5;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.real-radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}
---------------------------*/

/*-------------------------------------------Accordion
.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(14px, 1.3vw, 16px);
  font-weight: normal;
  cursor: pointer;
  border-top: none;
  color: var(--color-black);
  background-color: #E0F0FA;
  border-radius: 10px;
  margin-bottom: 10px;
}
.accordion__title span {
  display: inline-flex;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: rotate(0);
}
.accordion__title span::after,
.accordion__title span::before {
   position: absolute;
   content: '';
   width: 10px;
   height: 2px;
   top: 40%;
   left: 0;
   background-color: var(--color-blue);
   transition: transform 0.5s ease-out;
}
.accordion__title span::before {
  transform: rotate(45deg);
}
.accordion__title span::after {
  transform: rotate(-45deg);
  left: 6px;
}
.accordion__title.active span::before{
  transform: rotate(-45deg);
}
.accordion__title.active span::after{
  transform: rotate(45deg);
}
.accordion__content {
  font-size: 20px;
  line-height: 1.3;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: content-box;
  border-top: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}
.accordion__content.active {
  visibility: visible;
  opacity: 1;
  padding: 20px;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
------------------------------------------------------------------------------------Accordion---*/

/*---------------------------------------------Tabs

.tabs {

}
.tabs-button.active-tab {
  background-color: #1280E5;
  border-right-color: #1280E5;
  color: #FFFFFF;
}
.tabs-content {
  display: none;
}
.tabs-content.active-tab {
  display: block;
}

-------------*/

/*---------------------------------------------Quiz

.quiz__progress {
  margin-bottom: 10px;
}
.quiz__progress-inner {
  background: var(--color-black);
  height: 2px;
  display: block;
  transition: all 0.8s ease 0s;
}
.quiz-form__title {
  margin-bottom: 15px;
}
.quiz-form__fieldset label{
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.quiz-form__radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}
.custom-radio {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border: 2px solid #7e9bbd;
  border-radius: 50%;
  vertical-align: text-top;
  position: relative;
}
.custom-radio::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1280E5;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.quiz-form__radio:checked + .custom-radio::before {
  transform: translate(-50%, -50%) scale(1);
}
.quiz-form__buttons {
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.quiz-form__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #1280E5;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.custom-checkbox::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.quiz-form__checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
-------------*/

/*-------------------------------------------preloader

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  z-index: 999999999;
  opacity: 1;
  visibility: visible;

}
.preloader.done {
  opacity: 0;
  visibility: hidden;
}
.preloader__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@keyframes loading {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.loading div {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 10px solid #5bb6e1;
  border-top-color: transparent;
  border-radius: 50%;
}
.loading div {
  animation: loading 2s linear infinite;
  top: 80px;
  left: 80px;
}
.preloader__loading {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.loading div { box-sizing: content-box; }
----------------------------*/



/*---------------------------------------media----------------------------*/

/*---------------------------------------media-hover----------------------------*/
@media(hover:hover) {
  .menu__list-item a:hover {
    color: var(--color-brown);
  }
  .button:hover,
  .send-form:hover {
    transition: all 0.2s;
    background-color: #E9834A;
  }
  .slider__block-button:hover {
    transition: all 0.2s;
    color: #9A7960;
    background-color: var(--color-white);
  }
  .works__button-more:hover {
    transition: all 0.2s;
    color: var(--color-white);
    background-color: var(--color-brown-light);
  }
  .works__button:hover {
    background-color: var(--color-white);
    color: var(--color-brown-light);
  }



  .works__button:hover svg {
    background-color: #222222;
  }
}
/*---------------------------------------media-hover----------------------------*/


@media (max-width: 1200px) {
  .main-section__body {
    flex-wrap: wrap;
  }
  .main-section {
    padding-top: 182px;
  }
  .main__swiper {
    margin-right: 350px;
  }
  .main-section__slider {
    margin-right: 220px;
    flex-basis: 100%;
  }
  .main__swiper .swiper-pagination {
    left: 0px;
    justify-content: center;
  }
  .swiper-button-next {
    top: 44.8%;
    right: 25px;
  }
  .swiper-button-next::after {
    padding: 10px 14px;
  }
  .conditions__image {
    flex-basis: 796px;
  }
  .card__button {
    margin: 0;
    padding: 9px 10px;
  }
}


@media (max-width: 980px) {
  .logo img {
    width: 100px;
  }
  .header__block--mod {
    flex-basis: 260px;
  }
  .header__working-hours--mod {
    display: block;
  }
  .header__working-hours {
    display: none;
  }
  .header {
    margin-top: 30px;
  }
  .header__burger-wrapper {
    width: 40px;
    height: 40px;
    background-color: var(--color-brown-light);
    flex: 0 0 auto;
    border-radius: 10px;
    position: relative;
    display: block;
    z-index: 4;
  } 
  .header__burger{
    z-index: 2;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .header__burger span {
    height: 2px;
    width: 20px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background-color: var(--color-white);
    transform: translate(-50%, -50%);
  }
  .header__burger span:first-child {
    left: 50%;
    top: 32%;
  }
  .header__burger span:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .header__burger span:last-child {
    left: 50%;
    top: 68%;
  }
  .header__burger-wrapper._active span:nth-child(2){
    opacity: 0;
  }
  .header__burger-wrapper._active span:first-child{
    transform: rotate(-45deg);
    left: 26%;
    top: 47%;
  }
  .header__burger-wrapper._active span:last-child{
    transform: rotate(45deg);
    left: 26%;
    top: 47%;
  }
  .menu{
    position: fixed;
    right: 0;
    top: -100%;
    width: 265px;
    height: 300px;
    background-color: #FFFFFF;
    padding: 30px; 
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 999;
    border-radius: 15px;
    margin-right: 25px;
    margin-top: 120px;
  }
  .menu._active{
    top: 0;
  }
  .menu__list-item:not(:last-child){
    margin-bottom: 30px;
  }
  .menu__list{
    display: block;
    position: relative;
    margin-bottom: 40px;
  }
  .header__list-wrapper {
    padding: 30px; 
    opacity: 0;
    margin: 0px 69px;
    left: 0;
  }
  .main-section__info {
    flex-basis: 100%;
  }
  .works__block {
    justify-self: center;
    width: 100%;
  }
  .works__block-img img {
    height: 445px;
  }
  .works {
    margin-bottom: 35px;
  }
  .conditions__info {
    margin-right: -330px;
    flex-basis: 100%;
  }
  .prices__body {
    grid-template-columns: 1fr;
  }
  .prices__block {
    max-width: 100%;
  }
  .prices {
    margin-bottom: 80px;
    padding: 80px 0px;
  }
  .questions__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .questions__form {
  flex-basis: 100%;
  }
  .questions__answers {
    flex-basis: 100%;
  }
  .footer__body{
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .footer__blocks,
  .footer__nav--mod {
    gap: 20px;
  }
  .estimates__block {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .header__messengers {
    display: none;
  }
  .header__messengers--mod {
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 25px;
  }
  .menu {
    height: 330px;
  }
  .button {
    padding: 20px 17px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .works__body,
  .works__body-more.more {
    grid-template-columns:repeat(auto-fit, minmax(270px, 1fr));
    margin-bottom: 35px;
  }
  .works__bottom-inner {
    flex-wrap: wrap;
  }
  .works {
    margin-bottom: 70px;
  }
  .conditions__info {
    margin-right: 0px;
  }
  .conditions__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .conditions__info {
    order: 1;
  }
  .conditions__block:not(:last-child) {
    margin-bottom: 20px;
  }
  .prices__block {
    padding: 15px;
  }
  .subtitle {
    margin-bottom: 35px;
  }
  .prices {
    margin-bottom: 70px;
    padding: 70px 0px;
  }
  .conditions {
    margin-bottom: 70px;
  }
  .prices__table:not(:last-child){
    margin-bottom: 10px;
  }
  .accordion__title {
    padding: 15px;
  }
  .accordion__content {
    padding: 0px 15px;
  }
  .accordion__content.active {
    padding: 0px 15px 15px 15px;
  }
  .footer__blocks,
  .footer__nav--mod {
    flex-wrap: wrap;
  }
  .footer__block {
    flex-basis: 100%;
  }
  .footer__contacts {
    margin: 0 auto;
  }
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
  }
  .footer__logo {
    font-size: 12px;
  }
  .footer__text {
    font-size: 12px;
    text-align: center;
  }
  .footer {
    padding: 40px 0px 30px 0px;
  }
  .estimates__block-inner {
    display: block;
  }
  .estimates__part {
    margin-bottom: 20px;
  }
  .estimates__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .estimates__box:not(:last-child){
    width: 100%;
    margin-bottom: 35px;
  }
  .estimates__table {
    padding: 10px;
  }
  .estimates__feedback .card {
    padding: 25px;
  }
  .estimates__box .button {
    width: 100%;
  }
  .estimates__block {
    padding: 25px 15px;
  }
  .estimates__box--mod {
    grid-template-rows: 50px 1fr;
  }
  .estimates {
    padding: 70px 0px;
  }
}

@media (max-width: 400px) {
  .header__list-wrapper {
    padding: 15px; 
    margin: 0px 35px;
  }
  .header__list {
    gap: 20px;
  }
  .slider__block-info {
    left: 15px;
    bottom: 15px;
  }
  .slider__block-cost {
    top: 15px;
    left: 15px;
  }
  .conditions {
    margin-bottom: 70px;
  }
  .prices__table-block td:last-child {
    width: 80px;
  }
}
/*---------------------------------------media----------------------------*/